@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.header {
  background-image: url("/images/bg-pattern-intro.svg"), -webkit-gradient(linear, left top, right top, from(#ff7a85), to(#ff525d));
  background-image: url("/images/bg-pattern-intro.svg"), linear-gradient(to right, #ff7a85, #ff525d);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80rem 80rem, 100% 100%;
  border-bottom-left-radius: 6rem;
  color: white;
  min-height: 33rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1080px) {
  .header {
    background-size: 150rem 150rem, 100% 100%;
    background-position: center left, center center;
  }
}

@media screen and (max-width: 1080px) {
  .header {
    padding: 0 2rem;
    min-height: 42rem;
  }
}

.header__logo {
  margin-right: 4rem;
}

.header__nav {
  width: 70%;
  max-width: 1080px;
  margin: 2rem auto;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

@media screen and (max-width: 1080px) {
  .header__nav {
    width: 100%;
  }
}

.header__links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 1080px) {
  .header__links-wrapper {
    display: none;
  }
}

.header__dropdown {
  position: relative;
  z-index: 100;
}

.header__dropdown:hover .header__links {
  display: block;
  visibility: visible;
}

.header__dropdown:hover img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__links {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -1rem;
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 8rem;
  border-radius: 0.4rem;
  padding: 1rem;
}

.header__link {
  color: black;
  margin-bottom: 1rem;
}

.header__link:hover {
  font-weight: 700;
}

.header__link:hover a {
  color: black;
  font-weight: 700;
}

.header .header__drop-btn {
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  margin-right: 2rem;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 3rem;
}

.header .header__drop-btn a {
  color: white;
}

.header .header__drop-btn:hover {
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  font-weight: 700;
}

.header__login-btn {
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  margin-right: 2rem;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  margin-left: auto;
}

.header__login-btn a {
  color: white;
}

.header__login-btn:hover {
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  font-weight: 700;
}

@media screen and (max-width: 1080px) {
  .header__login-btn {
    color: black;
    margin-left: 0;
  }
}

.header__signup-btn {
  padding: 0.8rem 0.5rem;
  margin: 0 0.5rem;
  border: 0.2rem solid transparent;
  background-color: white;
  color: #ff525d;
  border-radius: 2rem;
  min-width: 10rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__signup-btn:hover {
  background-color: #ff7a85;
  color: white;
}

@media screen and (max-width: 1080px) {
  .header__signup-btn {
    margin-left: 0;
  }
}

.header__hamburger-btn {
  margin-left: auto;
  cursor: pointer;
}

@media screen and (min-width: 1080px) {
  .header__hamburger-btn {
    display: none;
  }
}

.header__hamburger-btn__close {
  display: none;
}

.header__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-top: 5rem;
}

@media screen and (max-width: 1080px) {
  .header__title {
    font-size: 3rem;
  }
}

.header__description {
  text-align: center;
  opacity: 0.7;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.header__buttons-wrapper {
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__start-btn {
  padding: 0.8rem 0.5rem;
  margin: 0 0.5rem;
  border: 0.2rem solid transparent;
  background-color: white;
  color: #ff525d;
  border-radius: 2rem;
  min-width: 10rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 1rem;
}

.header__start-btn:hover {
  background-color: #ff7a85;
  color: white;
}

.header__learn-btn {
  padding: 0.8rem 0.5rem;
  margin: 0 0.5rem;
  border: 0.2rem solid transparent;
  background-color: white;
  color: #ff525d;
  border-radius: 2rem;
  min-width: 10rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: transparent;
  color: white;
  border-color: white;
  opacity: 0.8;
  margin-bottom: 1rem;
}

.header__learn-btn:hover {
  background-color: #ff7a85;
  color: white;
}

.header__learn-btn:hover {
  background-color: white;
  color: #ff525d;
  opacity: 1;
}

.first-section {
  width: 70%;
  max-width: 1080px;
  position: relative;
  margin: 4rem auto;
  min-height: 54rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1f3f5b;
}

@media screen and (max-width: 1080px) {
  .first-section {
    margin: 2rem auto;
    text-align: center;
  }
}

.first-section__title {
  margin: 5rem;
  font-size: 2.5rem;
}

@media screen and (max-width: 1080px) {
  .first-section__title {
    margin: 5rem 0;
    font-size: 2rem;
  }
}

.first-section__subtitle {
  margin: 2rem 0;
  font-size: 1.5rem;
}

@media screen and (max-width: 1080px) {
  .first-section__subtitle {
    font-size: 2rem;
  }
}

.first-section__paragraph {
  max-width: 50%;
  margin-bottom: 6rem;
  line-height: 1.8;
}

@media screen and (max-width: 1080px) {
  .first-section__paragraph {
    max-width: 100%;
  }
}

.first-section__image-mobile {
  display: none;
}

@media screen and (max-width: 1080px) {
  .first-section__image-mobile {
    display: block;
    width: 100%;
  }
  .first-section__image-mobile img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.first-section::before {
  content: url("/images/illustration-editor-desktop.svg");
  position: absolute;
  -webkit-transform: translateX(55%);
          transform: translateX(55%);
  z-index: -2;
}

@media screen and (max-width: 1080px) {
  .first-section::before {
    content: "";
  }
}

.second-section {
  background-image: url("/images/bg-pattern-circles.svg"), -webkit-gradient(linear, left top, right top, from(#2c2d3f), to(#3f4164));
  background-image: url("/images/bg-pattern-circles.svg"), linear-gradient(to right, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 50% auto, 100% 100%;
  border-top-right-radius: 6rem;
  border-bottom-left-radius: 6rem;
}

@media screen and (max-width: 1080px) {
  .second-section {
    background-position: bottom 5rem left, center center;
    background-size: 100% auto, 100% 100%;
  }
}

.second-section__content-wrapper {
  width: 70%;
  max-width: 1080px;
  margin: 4rem auto;
  padding-left: 1rem;
  min-height: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

@media screen and (max-width: 1080px) {
  .second-section__content-wrapper {
    min-height: 50rem;
  }
}

.second-section__text {
  max-width: 50%;
  position: relative;
}

@media screen and (max-width: 1080px) {
  .second-section__text {
    max-width: 100%;
    text-align: center;
  }
}

.second-section__image-mobile {
  display: none;
}

@media screen and (max-width: 1080px) {
  .second-section__image-mobile {
    display: block;
    position: relative;
    width: 100%;
    min-width: 375px;
    top: -10rem;
    margin-bottom: -10rem;
  }
  .second-section__image-mobile img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.second-section__text::before {
  content: url("/images/illustration-phones.svg");
  position: absolute;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  top: -11rem;
  z-index: 1;
}

@media screen and (max-width: 1080px) {
  .second-section__text::before {
    content: "";
  }
}

.second-section__subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1080px) {
  .second-section__subtitle {
    margin-top: auto;
    font-size: 3rem;
  }
}

.second-section__paragraph {
  line-height: 1.8;
  padding-right: 2rem;
  opacity: 0.8;
}

@media screen and (max-width: 1080px) {
  .second-section__paragraph {
    padding-right: 0rem;
    margin-bottom: 6rem;
  }
}

.third-section {
  width: 70%;
  max-width: 1080px;
  position: relative;
  margin: 2rem auto;
  min-height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1f3f5b;
}

.third-section__text {
  max-width: 50%;
}

@media screen and (max-width: 1080px) {
  .third-section__text {
    max-width: 100%;
    text-align: center;
  }
}

.third-section__image-mobile {
  display: none;
}

@media screen and (max-width: 1080px) {
  .third-section__image-mobile {
    display: block;
    width: 100%;
  }
  .third-section__image-mobile img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.third-section__subtitle {
  margin: 2rem 0;
  font-size: 1.5rem;
}

@media screen and (max-width: 1080px) {
  .third-section__subtitle {
    font-size: 2rem;
  }
}

.third-section__paragraph {
  margin-bottom: 4rem;
  line-height: 1.8;
}

.third-section__text::before {
  content: url("/images/illustration-laptop-desktop.svg");
  position: absolute;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  top: 4rem;
  z-index: 1;
}

@media screen and (max-width: 1080px) {
  .third-section__text::before {
    content: "";
  }
}

.footer {
  background-color: #25252d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 15rem;
  border-top-right-radius: 6rem;
}

.footer__logo {
  margin-top: -0.5rem;
}

@media screen and (max-width: 1080px) {
  .footer__logo {
    margin: 3rem;
  }
}

.footer__nav {
  width: 70%;
  max-width: 1080px;
  margin: 4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1080px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer__subtitle {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 1080px) {
  .footer__subtitle {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.footer__links {
  opacity: 0.8;
  font-weight: 400;
  font-size: 1rem;
}

@media screen and (max-width: 1080px) {
  .footer__links {
    margin-bottom: 3rem;
  }
}

.footer__link {
  margin-bottom: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.footer__link:hover {
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  opacity: 1;
}

.mobile-menu__links-wrapper {
  display: none;
}

@media screen and (max-width: 1080px) {
  .mobile-menu__links-wrapper {
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 10%;
    left: 50%;
    width: 30rem;
    margin-left: -15rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 1rem;
    text-align: center;
  }
  .mobile-menu__dropdown {
    margin: 1rem;
  }
  .mobile-menu__dropdown input[type="radio"] {
    display: none;
  }
  .mobile-menu__dropdown input:checked ~ .mobile-menu__links {
    display: block;
    height: 100%;
  }
  .mobile-menu__dropdown:nth-of-type(3) {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid #c8c8cb;
  }
  .mobile-menu__drop-btn {
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 1rem;
    cursor: pointer;
  }
  .mobile-menu__links {
    display: none;
    height: 0;
    background-color: #c8c8cb;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .mobile-menu__link {
    padding: 0.5rem;
  }
  .mobile-menu__link a {
    color: #1f3f5b;
  }
  .mobile-menu__login-btn {
    border: none;
    background-color: transparent;
    margin: 1rem;
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .mobile-menu__signup-btn {
    border: none;
    background-color: #ff525d;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 3rem;
    padding: 1rem 3rem;
    margin: 1rem auto;
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .mobile-menu__signup-btn:hover {
    background-color: white;
    color: #ff525d;
    opacity: 1;
  }
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Overpass", sans-serif;
}
/*# sourceMappingURL=main.css.map */