@import "./base/resets";
@import "./base/typography";
@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./layout/header", "./layout/first-section", "./layout/second-section",
  "./layout/third-section", "./layout/footer", "./layout/mobile-menu";

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Overpass", sans-serif;
}
