.first-section {
  @include maxWidth;
  position: relative;
  margin: 4rem auto;
  min-height: 54rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $very-dark-blue;

  &__title {
    margin: 5rem;
    font-size: 2.5rem;
  }

  &__subtitle {
    margin: 2rem 0;
    font-size: 1.5rem;
  }

  &__paragraph {
    max-width: 50%;
    margin-bottom: 6rem;
    line-height: 1.8;
    // padding: 2rem;
  }

  &::after {
    content: url("/images/illustration-editor-desktop.svg");
    position: absolute;
    transform: translateX(55%);
    z-index: -2;
  }
}
