.second-section {
  background-image: url("/images/bg-pattern-circles.svg"),
    linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 50% auto, 100% 100%;
  border-top-right-radius: 6rem;
  border-bottom-left-radius: 6rem;
  @media screen and (max-width: $desktop) {
    background-position: bottom 5rem left, center center;
    background-size: 100% auto, 100% 100%;
  }

  &__content-wrapper {
    @include maxWidth;
    margin: 4rem auto;
    padding-left: 1rem;
    min-height: 26rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: $white;
    @media screen and (max-width: $desktop) {
      min-height: 50rem;
    }
  }

  &__text {
    max-width: 50%;
    position: relative;
    @media screen and (max-width: $desktop) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__image-mobile {
    display: none;
    @media screen and (max-width: $desktop) {
      display: block;
      position: relative;
      width: 100%;
      min-width: $small;
      top: -10rem;
      margin-bottom: -10rem;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  &__text::before {
    content: url("/images/illustration-phones.svg");
    position: absolute;
    transform: translateX(-110%);
    top: -11rem;
    z-index: 1;
    @media screen and (max-width: $desktop) {
      content: "";
    }
  }

  &__subtitle {
    font-size: 2rem;
    margin-bottom: 2rem;
    @media screen and (max-width: $desktop) {
      margin-top: auto;
      font-size: 3rem;
    }
  }

  &__paragraph {
    line-height: 1.8;
    padding-right: 2rem;
    opacity: 0.8;
    @media screen and (max-width: $desktop) {
      padding-right: 0rem;
      margin-bottom: 6rem;
    }
  }
}
