.third-section {
  @include maxWidth;
  position: relative;
  margin: 2rem auto;
  min-height: 60rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $very-dark-blue;

  &__text {
    max-width: 50%;
  }

  &__subtitle {
    margin: 2rem 0;
    font-size: 1.5rem;
  }

  &__paragraph {
    margin-bottom: 4rem;
    line-height: 1.8;
  }

  &__text::before {
    content: url("/images/illustration-laptop-desktop.svg");
    position: absolute;
    transform: translateX(-100%);
    top: 4rem;
    z-index: 1;
  }
}
