.third-section {
  @include maxWidth;
  position: relative;
  margin: 2rem auto;
  min-height: 60rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $very-dark-blue;

  &__text {
    max-width: 50%;
    @media screen and (max-width: $desktop) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__image-mobile {
    display: none;
    @media screen and (max-width: $desktop) {
      display: block;
      width: 100%;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  &__subtitle {
    margin: 2rem 0;
    font-size: 1.5rem;
    @media screen and (max-width: $desktop) {
      font-size: 2rem;
    }
  }

  &__paragraph {
    margin-bottom: 4rem;
    line-height: 1.8;
  }

  &__text::before {
    content: url("/images/illustration-laptop-desktop.svg");
    position: absolute;
    transform: translateX(-100%);
    top: 4rem;
    z-index: 1;
    @media screen and (max-width: $desktop) {
      content: "";
    }
  }
}
