.third-section {
  @include maxWidth;
  position: relative;
  margin: 2rem auto;
  min-height: 60rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $very-dark-blue;

  &__subtitle {
    margin: 2rem 0;
    max-width: 50%;
    margin-left: auto;
    font-size: 1.5rem;
  }

  &__paragraph {
    max-width: 50%;
    margin-bottom: 4rem;
    margin-left: auto;
    line-height: 1.8;
  }

  &::after {
    content: url("/images/illustration-laptop-desktop.svg");
    position: absolute;
    transform: translateX(-55%);
    z-index: -2;
  }
}
