// button
@mixin btn {
  padding: 0.8rem 0.5rem;
  margin: 0 0.5rem;
  border: 0.2rem solid transparent;
  background-color: $white;
  color: $light-red;
  a {
    color: $light-red;
  }
  border-radius: 2rem;
  min-width: 10rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

@mixin navLink {
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  a {
    color: white;
  }
  margin-right: 2rem;
  opacity: 0.8;
  cursor: pointer;
}
